#back {
    background-image: url(pictures/backbutton.png);
    background-repeat: no-repeat;
    background-size: 110%;
    background-position: center;
    height: 13vh;
    width: 23%;
    border: none;
    border-radius: 60px;
    outline: none;
}