body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1000px 1fr 1fr;
    grid-template-rows: 1fr 700px 1fr;
    height: 100vh;
    background-color: #222831;
}

/*-----------------------------------------------------------------------------------------------------------*/
.leftPanel {
    background-color:#00BBF0;
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 1;

    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(100px, 150px);
}

.start, .setDots {
    font-weight: bold;
    font-size: 2vw;
    padding: 0.5em 0.3em;
    margin: 5px;
    text-align: center;
}
/*-----------------------------------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------------------------------*/
.forCanvas {
    grid-column-start: 3;
    grid-row-start: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    position: relative;
}

.canvas {
    position: absolute;
}

#forLines {
    background-color: #393E46;
    border: 2px solid #EEEEEE;
}
/*-----------------------------------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------------------------------*/
.rightPanel {
    background-color:crimson;
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 5;
}
/*-----------------------------------------------------------------------------------------------------------*/